@import url('global.css');

body {
    height: 100%;
    margin: 0;
    padding: 0;

}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    margin-top: 10px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.bi-person-circle{
    font-size: 4rem; 
    color: var(--text-color);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.detail-list{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.detail-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 15px;
    border: 1px solid #ddd;
    width: 100%;
    min-width: 200px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
    color: var(--text-color);
}
.detail-list-item:hover{
    background-color: #e8ecf0;
}

.parking-history{
    color: var(--text-color);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: clamp(16px, 1.5vw + 1rem, 18px);
    margin-top: 5px;
}

.list-group{
    border-radius: 8px;
}

.list-group-item.active {
    position: relative;
    
}
.list-group-item.active h6,
.list-group-item.active p {
    color: white;
}

.progress-bar {
    width: 100%;
    height: 14px;
    background-color: #ddd;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: 15px;
    overflow: hidden;
}


.progress {
    height: 100%;
    background: linear-gradient(90deg, var(--primary-green), var(--dark-green));
    width: 90%;
    animation: progressAnimation 80s linear forwards;
}


.cancel-button-profile {
    background: linear-gradient(135deg, var(--primary-purple), var(--dark-purple));
    color: white;
    padding: 12px;
    right: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s transform 0.2s;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.cancel-button-profile:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

