@import url('global.css');
html {
    height: 100%;
}
body{
    
    margin: 0;
    padding: 0;
    
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
}

.settings-container {
    height: 100%;
    min-height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.settings-container button {
    color: var(--text-color);
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
}

.settings-container button:hover {
    background-color: #555;
}
.notifications label {
    display: block;
    margin-top: 10px;
  
}
section {
    margin: 10px;
    padding: 10px;
}



#contactSupport, #changePassword, #deleteAccount{
    background: linear-gradient(135deg, #f9fafb, #feffff);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 2px, 4px, 4px rgba(0, 0, 0, 0.3);
}


#contactSupport:hover, #changePassword:hover, #deleteAccount:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

}

#alertContainer {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1060;
    width: 80%;
    max-width: 400px;
}


@media only screen and (max-width: 480px) {
    .settings-container {
        padding: 15px;
        max-width: 100%;
    }

    #alertContainer {
        width: 90%;
        top: 20px;
    }

    section {
        margin: 5px;
        padding: 8px;
    }

    .settings-container button {
        padding: 8px;
        font-size: 14px;
    }
}