@import url('global.css');
 
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;

}


main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    background-color: var(--bg-color);
    
}


#search-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 800px;
    background-color: #f0f4f8c4;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
}

#searchInput {
    flex: 1;
    height: 2,5em;
    padding: 0.65em 1.2em;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    background-color: white;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#searchInput::placeholder {
    color: #918f8f;
    font-size: clamp(10px, 1.5vw + 1rem, 16px);
        
}


#searchButton {
    background: var(--btn);
    color: var(--text-color);;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 0 1.5em;
    height: 2.5em;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: clamp(14px, 1.5vw + 1rem, 18px);
}

#searchButton:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.reserve-button {
    background: var(--btn);
    color: var(--text-color);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: clamp(14px, 1.5vw + 1rem, 16px);
    cursor: pointer;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);

}
.reserve-button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#map {
    flex: 1;
    height: 400px;
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn-close-popup{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-size: 1rem;
}

#alertContainer {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1060;
    width: 80%;
    max-width: 400px;
}

#reservationModal .modal-content{
    background: var(--modal-bg);
    color: var(--text-color);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#reservationModal .form-control::placeholder {
    color: #918f8f;
    opacity: 1;
}

.payment-method {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-blue);
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.payment-method:hover {
    background-color: #dce3ef62;
    border-color: var(--dark-blue);
}

.payment-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    text-shadow: var(--shadow);
}

.payment-method input[type="radio"] {
    display: none;
}
.bi-check {
    color: var(--dark-green);
    font-size: 1.8em;
    position: absolute;
    right: 10px;
    display: none;
    text-shadow: 0px 4px 6px var(--shadow);
}

.payment-method.selected .bi-check {
    display: inline;
    
}

#reservationModal .total-cost-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#reservationModal .total-cost-container .form-label,
#reservationModal .total-cost-container .cost-display {
    font-size: 1.2em;
    margin: 0;

}

.confirm-button, .cancel-button-modal{
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    color: var(--text-color);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)

}

.confirm-button {
    background: var(--btn);
}

.confirm-button:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    
}

.cancel-button-modal {
    background: linear-gradient(135deg, #d2dbe3, #c6d8f6);    
}

.cancel-button-modal:hover {
    
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
   
}

.modal-dialog{
    max-width: 500px;
    margin: 0 auto;
}
.reservation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    
    
}

@keyframes fadeIn{
    from { opacity: 0; }
    to { opacity: 1; }
}

.reservation-content {
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 340px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    position: relative;
    background: var(--overlay);
    color: var(--text-color);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#reservation-spot,
#reservation-time{
    color: var(--text-color);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: clamp(14px, 1.5vw + 1rem, 18px);
}

#btn-close-overlay{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.1rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    transition: transform 0.2s, text-shadow 0.2s, opacity 0.2s;
    
}
#btn-close-overlay:hover{
    opacity: 1;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.55);
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #ddd;
    border: 1px solid var(--primary-blue);
    border-radius: 8px;
    margin-top: 15px;
    overflow: hidden;
}


.progress {
    height: 100%;
    background: linear-gradient(90deg, var(--primary-green), var(--dark-green));
    width: 100%;
    animation: progressAnimation 100s linear forwards;
}

@keyframes progressAnimation {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.cancel-button {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, var(--primary-purple), var(--dark-purple));
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s transform 0.2s;
    font-size: clamp(14px, 1.5vw + 1rem, 18px);
}

.cancel-button:hover{
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}


.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--nav-bar);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px var(--shadow);
    color: var(--text-color);
    z-index: 10;

}

.bottom-navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
}

.navbar-item {
    text-align: center;
    color: #3a3a3a;
    font-size: 0.9rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    padding-inline: 1em;
    border-radius: 10px;
}

.navbar-item i {
    font-size: 1.5rem;
}

.navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.229);
    border-radius: 10px;
}




@media only screen and (max-width: 480px) {
    #search-container {
        width: 90%;
        flex-direction: column;
        padding: 0.5em;

    }
    
    #searchInput {
        font-size: clamp(12px, 2.5vw, 14px);
        padding: 0.5em 1em;
        margin-bottom: 0.5em;
        width: 100%;
        border-radius: 6px;

    }
    
    #searchButton {
        font-size: clamp(14px, 2.5vw, 16px);
        padding: 0.5em 1em;
        width: 30%;
        border-radius: 8px;

    }

    #map {
        height: 250px;
    }
    
    .modal-dialog {
        max-width: 90%;
        position: fixed;
        left: 2.5%;
    }
    
    .modal-content {
        padding: 15px;
    }

    .navbar-item {
        font-size: 0.8rem;
    }

    .navbar-item i {
        font-size: 1.2rem;
    }


}
 