@import url('global.css');
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}


.add-vehicle-section,
.vehicle-list-section {
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h4 {
    margin: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background: var(--btn);
    border: none;
    color: var(--text-color);
    font-size: clamp(14px, 1.5vw + 1rem, 16px);
    cursor: pointer;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.submit-button:hover {
    transform: scale(1.002);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.vehicle-list {
    list-style-type: none;
    padding: 0;
}

.vehicle-list li {
    padding: 5px;
    margin-top: 10px;
    background-color: #e8e8e8;
    border-radius: 4px;
}